@page "/home"
@using HR4You.Model.Base.Pagination
@using Microsoft.AspNetCore.WebUtilities
@using Newtonsoft.Json
@attribute [StreamRendering]
@rendermode InteractiveServer
@inject IConfiguration Configuration

<PageTitle>Overview</PageTitle>
<div class="page-content min-h-[100vh] p-3 flex flex-col gap-2 select-none">

    <h1 class="text-[2rem] font-bold flex flex-row gap-3 items-center"><i class="fa-solid fa-house"></i>Overview</h1>
    @if (entries == null)
    {
        <p>
            <em>Loading...</em>
        </p>
    }
    else
    {

        <HomeTable entries="entries">
        </HomeTable>
    }
</div>



@code {
    private string HttpURL;

    public string RequestURL = "/api/master-data/hour-entry/get-user-all?userId=4e2a437c-879f-4b49-b216-0dc4b6470d67";

    public PagedResponseKeySet<HourEntry> entries;


    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        //Get first value from appsettings.json "Urls"
        var urls = Configuration["Urls"];
        HttpURL = urls?.Split(';').FirstOrDefault();
        try
        {
            //entries = await HttpClient.GetFromJsonAsync<List<HourEntry>>("http://localhost:5001/api/master-data/hour-entry/get-user-all-paged4e2a437c-879f-4b49-b216-0dc4b6470d67");
            //entries = await HttpClient.GetFromJsonAsync<List<HourEntry>>(@Ur?userId=4e2a437c-879f-4b49-b216-0dc4b6470d67")api/master-data/hour-entry/get-user-all-paged?userId=4e2a437c-879f
            var param = new Dictionary<string, string>
            {
                {"addDeleted", "false"},
                {"userId", "4e2a437c-879f-4b49-b216-0dc4b6470d67"},
                {"reference", "0"},
                {"pagesize", "10"}
            };

            string methodName = "http://localhost:5001/api/master-data/hour-entry/get-user-all-paged";
            methodName = QueryHelpers.AddQueryString(methodName, param);

            var request = new HttpRequestMessage(HttpMethod.Get, methodName);

            var response = await HttpClient.SendAsync(request);

            var json = response.Content.ReadAsStringAsync().Result;

            entries = JsonConvert.DeserializeObject<PagedResponseKeySet<HourEntry>>(json);
            
            Console.WriteLine(entries);
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error fetching entries: {ex.Message}");
        }

    }
}

