.OverviewContainer {
    position: relative; /* Relativ positioniert */
     /* Abstand zum schwarzen Balken */
    margin-top: 20px; /* Abstand von oben */
    padding: 10px;
    background-color: white;
    border: 1px solid gainsboro;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 100%; /* Reduziert den Abstand nach links und rechts */
}

.OverviewTable {
    width: 100%; /* Nutzt die volle Breite des Containers */
    border-collapse: collapse;
    
}

.OverviewTable th,
.OverviewTable td {
    padding: 8px;
    text-align: left;
    border: 1px solid gainsboro;
}

.OverviewTable th {
    background-color: #f4f4f4;
}
