@page "/home"
@attribute [StreamRendering]
@inject HttpClient HttpClient
@rendermode InteractiveServer

<PageTitle>Overview</PageTitle>
<h2>Overview</h2>







@if (entries == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <HomeTable entries="entries">
    </HomeTable>
}



@code {

    public List<HourEntry> entries;


    protected override async Task OnInitializedAsync()
    {
        try
        {
            entries = await HttpClient.GetFromJsonAsync<List<HourEntry>>("http://localhost:5001/api/master-data/hour-entry/get-user-all?userId=4e2a437c-879f-4b49-b216-0dc4b6470d67");
            Console.WriteLine(entries);
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error fetching entries: {ex.Message}");
        }

    }
}

