@page "/login"
@using HR4You.Components.Layout
@layout LoginLayout
@inject NavigationManager NavigationManager
@attribute [StreamRendering]
@inject HttpClient HttpClient
@rendermode InteractiveServer

<PageTitle>HR4You Login</PageTitle>

<div class="bg-gray-100 border border-2 rounded-[15px] py-2 px-5 flex flex-col items-center gap-2 max-w-[500px]">
    <h4 class="font-monospace text-[2rem]">Login</h4>
    <div class="loginBody flex flex-col gap-2 items-center">
        <input class="w-[300px] p-1 rounded-full border border-2 font-monospace @(isInvalid ? "border-red-500" : "")" id="Username" type="text" placeholder="Username/Email" @bind="username" />
        <input class="w-[300px] p-1 rounded-full border border-2 font-monospace @(isInvalid ? "border-red-500" : "")" id="Password" type="password" placeholder="Password" @bind="password" />
        <input class="bg-[#ffffff] hover:bg-gray-200 w-[fit-content] py-1 px-5 rounded-full border border-2" value="Login" type="button" @onclick="checkLogin" />
    </div>
</div>




@code {
    private string? username;
    private string? password;

    private string username_Check = "john_user";
    private string password_Check = "password";

    private bool isInvalid = false;

    private void checkLogin(){
        if (username == username_Check && password == password_Check)
        {
            isInvalid = false;
            NavigationManager.NavigateTo("/");
        }
        else
        {
            isInvalid = true;
        }
    }
}
