@page "/login"
@inject NavigationManager NavigationManager

<PageTitle>HR4You Login</PageTitle>

<h3>HR4You</h3>

<div class="card">
    <h4 class="card-header">login</h4>
    <div class="card-body">
        
        <input id="Text1" type="text" />
        <input id="Password1" type="password" />
        <input id="Login" type="submit" value="login" />

    </div>
</div>




@code {


    

}
