@page "/login"
@using HR4You.Components.Layout
@layout LoginLayout
@inject NavigationManager NavigationManager

<PageTitle>HR4You Login</PageTitle>

<div class="loginContainer">
    <h4 class="loginHeader">Login</h4>
    <div class="loginBody">
        <input id="Username" type="text" placeholder="Username/Email" />
        <input id="Password" type="password" placeholder="Password"/>
        <input id="Submit" type="submit" value="login" />
    </div>
</div>




@code {


    

}
