@page "/"
@using HR4You.Components.Handler
@using HR4You.Components.Layout
@layout LoginLayout

<PageTitle>HR4You Login</PageTitle>

<div class="bg-gray-100 border border-2 rounded-[15px] py-2 px-5 flex flex-col items-center gap-2 max-w-[500px]">
    <h4 class="font-monospace text-[2rem]">Login</h4>
    <div class="loginBody flex flex-col gap-2 items-center">
        <input class="w-[300px] p-1 rounded-full border border-2 font-monospace @(isInvalid ? "border-red-500" : "")" id="Username" type="text" placeholder="Username/Email" @bind="username" />
        <input class="w-[300px] p-1 rounded-full border border-2 font-monospace @(isInvalid ? "border-red-500" : "")" id="Password" type="password" placeholder="Password" @bind="password" />
        <input class="bg-[#ffffff] hover:bg-gray-200 w-[fit-content] py-1 px-5 rounded-full border border-2" value="Login" type="button" @onclick="checkLogin" />
    </div>
</div>




@code {
    [Inject] ILocalStorageHandler LocalStorage { get; set; } = null!;
    public string Text1 { get; set; }

    public async Task Save()
    {
        await LocalStorage.SetItem("textData", Text1);
    }

    public async Task Load()
    {
        Text1 = await LocalStorage.GetItem("textData");
    }

    public async Task Remove()
    {
        await LocalStorage.RemoveItem("textData");
    }

    public async Task Clear()
    {
        await LocalStorage.ClearData();
    }

}
