.page-header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
    color: white;
    padding: 1rem;
}

.page-content {
    padding: 1rem;
}


.Add_Time {
    float: right;
}
