@page "/Projects"
@using HR4You.Model.Base.Pagination
@using HR4You.Components.Other
@using HR4You.Components.Tables
@using Newtonsoft.Json
@using HR4You.Model.Base
@attribute [StreamRendering]
@rendermode InteractiveServer
@inject HttpClient HttpClient

<PageTitle>Projects</PageTitle>
<div class="page">

    <div class="page-header">
        <h1><i class="fa-solid fa-sheet-plastic"></i>Projects</h1>
        <UserInfo></UserInfo>

    </div>

    <div class="page-content">



    @if (PagedResponseOffset == null)
    {
            <div class="loading-overlay">
                <div class="loading-content">
                    <svg class="animate-spin h-20 w-20 text-gray-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50">
                        <circle class="opacity-25" cx="25" cy="25" r="20" stroke="currentColor" stroke-width="5" fill="none">
                        </circle>
                        <circle class="opacity-75" cx="25" cy="25" r="20" stroke="currentColor" stroke-width="5"
                                stroke-linecap="round" fill="none" stroke-dasharray="31.415, 31.415" transform="rotate(90 25 25)">
                            <animateTransform attributeName="transform" type="rotate" repeatCount="indefinite" dur="5s"
                                              keyTimes="0;1" values="0 25 25;360 25 25"></animateTransform>
                        </circle>
                    </svg>
                </div>
            </div>
    }
    else
    {
        <div class="flex flex-row gap-2 items-center">
            <SearchComponent Options1="options1" Options2="options2"/>
        </div>

        <div class="table-wrapper">
            <ProjectsTable entries="PagedResponseOffset.Data" customerNames="customerNames" @ref="popupRef2" OnProjectUpdated2="RefreshTable2">
            </ProjectsTable>
        </div>

        <OffsetPagination entries="PagedResponseOffset" OnPageChanged="EventCallback.Factory.Create<PagedResponseOffset<Project>>(this, UpdateEntries)" Parameters="Parameters" ApiEndpoint=@GetAllProjectApiEndpoint/>
    }
    </div>
</div>


@code {
    private const string ApiProjectEndpointRoute = "api/master-data/project/";
    private const string ApiCustomerEndpointRoute = "api/master-data/project/";
    private const string GetAllProjectApiEndpoint = $"{ApiProjectEndpointRoute}get-all-paged";
    private const string GetCustomerApiEndpoint = $"{ApiCustomerEndpointRoute}get";

    public PagedResponseOffset<Project>? PagedResponseOffset;
    public Dictionary<string, string> Parameters;

    //TODO create options
    public FilterOption[] options1 =
    [
    ];

    public FilterOption[] options2 =
    [
    ];

    public bool addDeleted;

    private ProjectsTable? popupRef2;

    public Dictionary<int, string> customerNames = new();

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            addDeleted = false;
            await LoadProjects();
        }

        if (firstRender && popupRef2 != null)
        {
            popupRef2.OnProjectUpdated2 = EventCallback.Factory.Create(this, RefreshTable2);
        }
    }
    
    private void UpdateEntries(PagedResponseOffset<Project> newEntries)
    {
        PagedResponseOffset = newEntries;
    }

    private async Task LoadProjects()
    {
        var uniqueCustomerIds = new List<int>();

        try
        {
            await LocalUserStorage.Load();
            if (LocalUserStorage.UserInfo == null)
            {
                NavigationManager.NavigateTo(NavigationManager.BaseUri);
                return;
            }

            Parameters = new Dictionary<string, string>
            {
                { nameof(addDeleted), addDeleted.ToString() }
            };

            var request = HttpQueryHandler.CreateEndpointRequestWithJwt(HttpMethod.Get, GetAllProjectApiEndpoint, Parameters, LocalUserStorage.UserInfo.AuthToken);
            var response = await HttpClient.SendAsync(request);

            var content = await HttpQueryHandler.ProcessHttpResponse(NavigationManager, response);
            if (content != null) PagedResponseOffset = JsonConvert.DeserializeObject<PagedResponseOffset<Project>>(content);


            // Fetch customer names for all entries
            if (PagedResponseOffset != null)
                foreach (var entry in PagedResponseOffset.Data)
                {
                    if (!uniqueCustomerIds.Contains(entry.CustomerId))
                    {
                        uniqueCustomerIds.Add(entry.CustomerId);
                    }
                }

            foreach (var customerId in uniqueCustomerIds)
            {
                if (!customerNames.ContainsKey(customerId))
                {
                    var customer = await FetchCustomerAsync(customerId);
                    customerNames[customerId] = customer?.Name ?? "No Customer";
                }
            }
            
            StateHasChanged();
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error fetching entries: {ex.Message}");
        }
    }

    private async Task<Customer?> FetchCustomerAsync(int customerId)
    {
        try
        {
            await LocalUserStorage.Load();
            if (LocalUserStorage.UserInfo == null)
            {
                NavigationManager.NavigateTo(NavigationManager.BaseUri);
                return null;
            }

            Parameters = new Dictionary<string, string>
            {
                { "id", customerId.ToString() },
                { nameof(addDeleted), addDeleted.ToString() }
            };

            var request = HttpQueryHandler.CreateEndpointRequestWithJwt(HttpMethod.Get, GetCustomerApiEndpoint, Parameters, LocalUserStorage.UserInfo.AuthToken);
            var response = await HttpClient.SendAsync(request);

            var content = await HttpQueryHandler.ProcessHttpResponse(NavigationManager, response);
            if (content != null) return JsonConvert.DeserializeObject<Customer>(content)!;
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error fetching customer id {customerId} Error: {ex.Message}");
            return null;
        }

        return null;
    }

    private async Task CheckboxChanged()
    {
        if (addDeleted == false)
        {
            addDeleted = true;
        }
        else
        {
            addDeleted = false;
        }

        Parameters = new Dictionary<string, string>
        {
            { nameof(addDeleted), addDeleted.ToString() }
        };

        var request = HttpQueryHandler.CreateEndpointRequestWithJwt(HttpMethod.Get, GetAllProjectApiEndpoint, Parameters, LocalUserStorage.UserInfo!.AuthToken);
        var response = await HttpClient.SendAsync(request);

        var content = await HttpQueryHandler.ProcessHttpResponse(NavigationManager, response);
        if (content != null) PagedResponseOffset = JsonConvert.DeserializeObject<PagedResponseOffset<Project>>(content);

        StateHasChanged();
    }

    private async Task RefreshTable2()
    {
        Console.WriteLine("RefreshTable2() was called from Project");
        await LoadProjects();

        StateHasChanged();
    }

}