@page "/Projects"
@using Newtonsoft.Json
@using HR4You.Model.Base.Pagination
@using Microsoft.AspNetCore.WebUtilities
@attribute [StreamRendering]
@inject HttpClient HttpClient

<PageTitle>Projects</PageTitle>

<h1>Projects</h1>

@if (entries == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <ProjectsTable entries="entries.Data">
    </ProjectsTable>
}



@code {

    public PagedResponseKeySet<Project> entries;


    protected override async Task OnInitializedAsync()
    {
        try
        {
            var param = new Dictionary<string, string>
            {
                {"addDeleted", "false"},
                {"reference", "0"},
                {"pagesize", "10"}
            };

            string methodName = "http://localhost:5001/api/master-data/Project/get-all-paged";
            methodName = QueryHelpers.AddQueryString(methodName, param);

            var request = new HttpRequestMessage(HttpMethod.Get, methodName);

            var response = await HttpClient.SendAsync(request);

            var json = response.Content.ReadAsStringAsync().Result;

            entries = JsonConvert.DeserializeObject<PagedResponseKeySet<Project>>(json);
            Console.WriteLine(entries);
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error fetching entries: {ex.Message}");
        }

    }
}

