
.searchAndFilter {
    position: relative;
    display: flex;
    border: 1px solid #c1c1c1;
    width: fit-content;
    border-radius: 5px;
    height: 40px;
    box-sizing: border-box;
}

.searchAndFilter > #Search {
    padding: 5px;
    border: none;
    /*    width: 250px*/
    flex: 1;
}

.searchAndFilter > button {
    width: 40px;
    border: none;
}

.searchAndFilter > #FilterOptions {
    border-right: 1px solid #c1c1c1;
}

.searchAndFilter > #FilterOptions:first-of-type {
    border-radius: 5px 0 0 5px;
}

.searchAndFilter > #Submit {
    border-radius: 0 5px 5px 0;
    border-left: 1px solid #c1c1c1;
}

.FilterOptions {
    z-index: 1;
    display: none;
    position: absolute;
    background: whitesmoke;
    padding: 10px;
    border: 1px solid #c1c1c1;
    border-radius: 5px;
    width: 350px;
    height: fit-content;
}

.FilterOptions.active {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.OptionRow {
    display: flex;
    justify-content: space-between;
}

    .OptionRow > input, .OptionRow > select {
        width: 200px;
        padding: 5px;
        border-radius: 5px;
        border: 1px solid #c1c1c1;
    }

    .OptionRow > span > i {
        width: 15px;
    }

    .OptionRow > span {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        gap: 10px;
    }
