@using HR4You.Model.Base.Pagination
@inject HttpClient HttpClient
@typeparam TItem


<div class="pagination flex flex-row gap-3 justify-center">
    <button @onclick="previousPage" class="flex flex-row gap-2 transition-all duration-300 bg-gray-200 hover:bg-gray-300 items-center border border-2 border-[#c1c1c1] rounded-[10px] p-1">
        <i class="fa-solid fa-backward"></i> Previous-page
    </button>
    <button @onclick="nextPage" class="flex flex-row gap-2 transition-all duration-300 bg-gray-200 hover:bg-gray-300 items-center border border-2 border-[#c1c1c1] rounded-[10px] p-1">
        Next-page <i class="fa-solid fa-forward"></i>
    </button>
</div>

@code {
    [Parameter] public PagedResponseOffset<TItem> entries { get; set; }
    [Parameter] public EventCallback<PagedResponseOffset<TItem>> OnPageChanged { get; set; }
    [Parameter] public string ApiEndpoint { get; set; } = string.Empty;

    // private const int pageSize = 10;

    private async Task previousPage()
    {
        try
        {
            var newEntries = await HttpClient.GetFromJsonAsync<PagedResponseOffset<TItem>>($"{ApiEndpoint}?pageNumber={entries.PageNumber - 1}&pageSize={entries.PageSize}");
            await OnPageChanged.InvokeAsync(newEntries);

        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error fetching entries: {ex.Message}");
        }
    }

    private async Task nextPage()
    {
        try
        {
            var newEntries = await HttpClient.GetFromJsonAsync<PagedResponseOffset<TItem>>($"http://localhost:5001/api/master-data/customer/get-all-paged?pageNumber={entries.PageNumber + 1}&pageSize=2");
            if (newEntries?.Data.Count == 0)
            {
                newEntries = await HttpClient.GetFromJsonAsync<PagedResponseOffset<TItem>>($"http://localhost:5001/api/master-data/customer/get-all-paged?pageNumber=1&pageSize=2");

            }
            await OnPageChanged.InvokeAsync(newEntries);

        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error fetching entries: {ex.Message}");
        }
    }
}