table.blueTable {
    border-radius: 10px;
    background-color: #302B63;
    border-collapse: collapse;
    width: 100%;
    overflow: hidden
}

    table.blueTable td, table.blueTable th {
        padding: 2px 10px;
/*        min-width: 100px;*/
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    table.blueTable tbody td {
        font-size: 0.8rem;
        color: #FFFFFF;
    }

    table.blueTable thead {
        background: #24243E;
        border-bottom: 2px solid #444444;
        border-radius: 10px;
    }

        table.blueTable thead th {
            font-size: 1rem;
            font-weight: bold;
            color: #FFFFFF;
            border-left: 0px solid #D0E4F5;
        }

            table.blueTable thead th:first-child {
                border-left: none;
            }


            .table-action {
                display: flex;
                flex-flow: row nowrap;
                align-items: center;
            }
