@using HR4You.Components.Popups
@rendermode InteractiveServer
@inject HttpClient HttpClient

<PopupTag @ref="popupRef" OnTagUpdated="RefreshTable" />

<table class="blueTable">
    <thead>
        <tr>
            <th>Name</th>
            <th>Is Deleted</th>
            <th>Actions</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var entry in entries)
        {

            <tr>
                <td>@entry.Name</td>
                <td>@(entry.Deleted ? "Yes" : "No")</td>
                <td class="table-actions">
                    <button type="button" class="btn btn-danger" @onclick="(() => DeleteEntry(entry.Id))"><i class="fa fa-trash"></i></button>
                    <button type="button" class="btn btn-primary" @onclick="(() => EditEntry(entry.Id))"><i class="fa fa-pencil"></i></button>
                </td>
            </tr>
        }
    </tbody>
</table>


@code {

    [Parameter]
    public List<Tag> entries { get; set; }

    private PopupTag popupRef;

    [Parameter]
    public EventCallback OnTagUpdated2 { get; set; }


    protected override void OnAfterRender(bool firstRender)
    {
        // if (firstRender && popupRef != null)
        // {
        //     popupRef.OnTagUpdated = EventCallback.Factory.Create(this, RefreshTable);
        // }
    }

    public string RequestURLEdit = "http://localhost:5001/api/master-data/tag/get?Id=";
    public string RequestURLDelete = "http://localhost:5001/api/master-data/tag/delete?Id="; 

    private void EditEntry(int GivenId)
    {
        popupRef.ShowEdit(GivenId, RequestURLEdit, "Edit Tag");
        RefreshTable();
    }

    private async Task DeleteEntry(int GivenId)
    {
        var response = await HttpClient.DeleteFromJsonAsync<Tag>(RequestURLDelete + GivenId);
        RefreshTable();
    }

   

    private async Task RefreshTable()
    {
        Console.WriteLine("RefreshTable() was called");
        if (OnTagUpdated2.HasDelegate)
        {
            await OnTagUpdated2.InvokeAsync(); // Notify the parent component
        }
        else
        {
            Console.WriteLine("no delegate assigned.");
        }
    }


}
