@inherits LayoutComponentBase
<body>
    <div class="page">
        <div class="sidebar">
            <NavMenu/>
        </div>

        <main>
            <div class="content">
                @Body
            </div>
        </main>
    </div>
</body>