body {
    margin: 0;
}
.page {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    min-height: 100vh;
    margin: 0;
}

main {
    flex: 1;
}

.sidebar {
    width: 305px;
    background-color: #262626;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    flex-grow: 1;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    text-align: center;
    color: #333;
    font-family: Arial, sans-serif;
    padding: 20px;
}


