@inherits LayoutComponentBase

<body>
<div class="page min-h-[100vh] flex flex-row flex-nowrap">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <main>
        @Body
    </main>
</div>
</body>

@code
{
    private string _userName = "test"; //todo get to render + make logout possible !

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await LocalUserStorage.Load();
        var storedName = LocalUserStorage.UserInfo!.UserName;
        if (storedName != null) _userName = storedName;
    }

}