@inherits LayoutComponentBase

<body>
    <div class="page min-h-[100vh] flex flex-row flex-nowrap">
        <div class="sidebar">
            <NavMenu />
        </div>

        <main>
            @Body
        </main>
    </div>
</body>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await LocalUserStorage.Load();
            if (LocalUserStorage.UserInfo == null)
            {
                NavigationManager.NavigateTo(NavigationManager.BaseUri);
                return;
            }

            // currentUser = LocalUserStorage.UserInfo;
            StateHasChanged();

        }
    }
}