@inherits LayoutComponentBase
<body>
    <div class="page min-h-[100vh] flex flex-row flex-nowrap">
        <div class="sidebar">
            <NavMenu/>
        </div>

        <main>
            

            @* <div class="content"> *@
                @* <div class="user-display"> *@
                @*     <div class="user-info"> *@
                @*         <p class="user-name">Thel Vadam'ee</p> *@
                      
                @*     </div> *@
                @*     <div class="user-actions"> *@
                        
                @*         <pö class="logout-text">Log out</pö> *@
                @*     </div> *@
                @* </div> *@
                @Body
            @* </div> *@
        </main>
    </div>
</body>