@inherits LayoutComponentBase

<body>
<div class="page min-h-[100vh] flex flex-row flex-nowrap">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <main>


        <div class="content">
            <div class="bg-[whitesmoke] flex flex gap-3 items-center p-3 rounded-[10px] border border-2 border-[#c1c1c1]">
                <div class="user-info">
                    <p class="font-bold p-1">@_userName</p>
                </div>
                <div class="user-actions">
                    <a class="cursor-pointer text-red-500 p-1 rounded-[5px] transition-all duration-500 hover:bg-gray-300">Logout</a>
                </div>
            </div>
        </div>
        @Body
    </main>
</div>
</body>

@code
{
    private string _userName = "test"; //todo get to render + make logout possible !

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await LocalUserStorage.Load();
        var storedName = LocalUserStorage.UserInfo!.UserName;
        if (storedName != null) _userName = storedName;
    }

}