@inherits LayoutComponentBase

<body>
<div class="page min-h-[100vh] flex flex-row flex-nowrap">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <main>
        @Body
    </main>
</div>
</body>