@using HR4You.Components.Popups
@rendermode InteractiveServer

<PopupCustomers @ref="popupRef" />
<button type="button" class="btn btn-dark AddTime" @onclick="(() => CreateEntry())"><i class="fa-solid fa-plus"></i></button>

@code {
    private PopupCustomers popupRef;

    private async Task CreateEntry()
    {
        await popupRef.ShowCreate("Add Customer");
    }
}