<div class="userInfo">
    <div class="user-info">
        <p class="userinfo-username">@_userName</p>
    </div>
    <div class="user-actions">
        <button class="userinfo-button-logout" @onclick="Logout">Logout</button>
    </div>
</div>
@code {

    private string _userName { get; set; } = "Undefined User";

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await LocalUserStorage.Load();
            var storedName = LocalUserStorage.UserInfo!.UserName;
            if (storedName != null) _userName = storedName;
            StateHasChanged();
        }
    }

    private async Task Logout()
    {
        await LocalUserStorage.Clear();
        NavigationManager.NavigateTo(NavigationManager.BaseUri);
    }

}
